.background {
  background: black;
  height: 100%;
  padding-top: 30px;
}

.container {
  background:white;
  border-top-left-radius:25px;
  border-top-right-radius:25px;
  padding-top: 25px;
  padding-inline: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}

.imageForm {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.label {
  font-size: 2.5em;
  text-align: center;
  font-weight: 500;
  margin-top: 1em;
}

.subLabel {
  font-size: 1em;
  text-align: center;
  color: gray;
}

.placeInput {
  font-size: 1.2em;
  padding-inline: 1.2em;
  padding-block: 0.4em;
  border: 1px solid gainsboro;
  font-family: system-ui, "Inter", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  border-radius: 2em;
  line-height: 1.7em;
  margin-block: 1em;
}

.connectionCode {
  margin-block: 1em;
display: flex;
flex-direction: column;
align-items: center;
}

.qrcodeContainer {
box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.1);
  margin-block: 1em;
}

.emoji {
  font-size: 2em;
  line-height: 2em;
}

.emojiContainer {
box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.1);
  border-radius: 2em;
  width: 4em;
  text-align: center;
}

.next {
  font-size: 1em;
  font-weight: medium;
  border: 1px solid;
  line-height: 3em;
  border-radius: 2em;
  background-color: rgb(236,0,118);
  color: white;
  margin-bottom: 4em;
}
