html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, "Inter", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Make page full height */
html,
body,
body > div:first-child,
div#__next {
  height: 100%;
}
